page-add-books {

    .toolbar-title-md{
    color:white;
}
.toolbar-background-md{
    background:#424242;
}
.toolbar-md-secondary .toolbar-background-md{
    background-color: #9E9E9E;
}
 .toolbar-md-secondary .bar-button-default-md{
     margin:-1px;
 }
 .toolbar-md-secondary .toolbar-title-md{
     margin:-6px;
 }
 .button1
 {
     padding:25px;
     font-size :20px;
     border-radius: 12px;
     background-color:#626567 ; 
 }


}
